.node {
    --size: 16px;
    border: solid 2px thistle; 
    margin: 0;
    width: var(--size);
    height: var(--size);
    flex-grow: 1;
    /* display: inline-block; */
}

.endNode {
    background-color: black;
}

.startNode {
    background-color: blue;
}
.wallNode {
    background-color: black;
}
